<div id="topbar" class="top-bar">
  <div class="tabs">
    <div class="tab"><a href="/">Home</a></div>
    <% if (isAuthenticated) { %>
      <div class="tab"><a href="/myblogs">My Blogs</a></div>
    <% } %>
  </div>

  <div class="logout">
    <% if (isAuthenticated) { %>
      <a id="logoutButton" href="/logout">Logout</a>
    <% } else { %>
      <a id="loginButton" href="/login">Login</a>
    <% } %>
  </div>
</div>
